<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin-css.css">
    <title>Update Room</title>
</head>
<body>
<div class="navbar">
    <div class="logo">
        <img src="/images/logo-admin.png" />
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/rooms/admin/list">Rooms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/admin/list">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Bookings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog/admin/list">Blog</a>
        <li class="nav-item">        </li>

        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</div>
<div class="container">
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/rooms/admin/list">Home</a></li>
            <li class="breadcrumb-item"><a href="/rooms/admin/list">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update Blog</li>
        </ol>
    </nav>
    <h3>Room Directory</h3>
    <hr/>
    <p class="h4 mb-4">Update Room</p>
    <form th:action="@{/blogs/admin/update}"
          th:object="${blog}" method="POST" enctype="multipart/form-data" >
        <input type="hidden" th:field="*{id}"/>
        <label >Blog Titlef :</label>
        <input type="text" th:field="*{blogTitlel}" name="blogTitlel" class="form-control mb-4 col-4" placeholder="Title">
        <label >Room Type:</label>
        <label >Room CContent :</label>
        <input type="text" th:field="*{blogContent}" class="form-control mb-4 col-4" placeholder="Content">
        <label >Blog IMG :</label>
        <input type="file" name="image" accept="image/*" style="display: block" />
        <input type="hidden" th:field="*{blogImg}"/>
        <label >Blog Author :</label>
        <input type="text" th:field="*{blogAuthor}" name="blogAuthor" class="form-control mb-4 col-4" placeholder="Author">
        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>
    <hr/>
    <a th:href="@{/blogs/admin/list}">Back to Blog List</a>
</div>
</body>
</html>