<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/admin-css.css">
  <title>Create Room</title>
</head>
<body>
<div class="navbar">
  <div class="logo">
    <img src="/images/logo-admin.png" />
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/rooms/admin/list">Rooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/admin/list">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blogs/admin/list">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>
<div class="container">
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/blogs/admin/list">Home</a></li>
      <li class="breadcrumb-item"><a href="/blogs/admin/list">Blog</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create Blog</li>
    </ol>
  </nav>
  <h3>Blog Directory</h3>
  <hr/>
  <p class="h4 mb-4">Create Blog</p>
  <form th:action="@{/blogs/admin/save}"
        th:object="${blog}" method="POST" enctype="multipart/form-data" >
    <input type="hidden" th:field="*{id}"/>
    <label >Blog Title :</label>
    <input type="text" th:field="*{blogTitlel}" name="blogTitlel" class="form-control mb-4 col-4" placeholder="Title">
    <label >Blog Content :</label>
    <input type="text" th:field="*{blogContent}" class="form-control mb-4 col-4" placeholder="Description">
    <label >Room IMG :</label>
    <input type="file" name="image" accept="image/*" style="display: block" />
    <input type="hidden" th:field="*{blogImg}"/>
    <label>Author :</label>
    <input type="text" th:field="*{blogAuthor}" class="form-control mb-4 col-4" placeholder="Admin">



    <button type="submit" class="btn btn-info col-2">Save</button>
  </form>
  <hr/>
  <a th:href="@{/blogs/admin/list}">Back to Blog List</a>
</div>
</body>
</html>